body {
    margin: 0;
    background-color: #335c67;
}
header {
    background-color: #160f29;
    margin-bottom: 30px;
}
.logo {
    font-family: Kanit, fantasy;
    font-size: 60px;
    color: #f4ebd9;
    text-align: center;
    padding: 15px 0 15px 0;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    padding-right: 20px;
}
header nav ul li {
    list-style-type: none;
}
header nav ul li a {
    color: #f4ebd9;
    padding-right: 20px;
    font-family: Kanit, fantasy;
}
/*desktop*/
@media all and (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        padding-left: 50px;
    }
    header nav ul {
        padding-top: 20px;
        padding-right: 100px;
    }
    header nav ul li a {
        margin-right: 80px;
    }
    header nav ul li a:hover {
        color: #986c6a;
        opacity: .7;
    }
}
/*primary content*/
main {
    padding: 20px 0;
}
section {
    margin-bottom: 20px;
    padding: 10px;
}
.gorup {
    display: flex;
    flex-direction: column;
}
.group2{
    display: flex;
    flex-direction: column;
}
.item {
    flex: 1;
    margin: 15px;
}
main img {
    width: 100%;
}
img.my-photo {
    border: 2px solid #986c6a;
    box-shadow: 2px 2px 5px 5px #160f29;
    border-radius: 20px;
}
h2 {
    font-size: 30px;
    font-family: Montserrat, serif;
    font-weight: 600;
    color: #f4ebd9;
}
h3 {
    font-size: 30px;
    font-family: Montserrat, serif;
    font-weight: 600;
    color: #f4ebd9;
}
p {
   font-size: 25px;
   font-family: Montserrat, serif;
   color: #f4ebd9; 
}
main a {
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}
main a {
    color: #9b5d59;
}


/*desktop*/
@media all and (min-width: 700px) {
    .group {
        display: flex;
        flex-direction: row;
    }
    .group2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .item2 {
        padding-right: 20px;
        font-family: Montserrat, serif;
    }
    p{
        line-height: 30px;
    }
    .item-double {
        flex-basis: 50%;
    }
}

/*projects*/

hr {
    background-color: #f4ebd9;
}
/*form*/
form label {
    display: block;
    color: #f4ebd9;
    font-family: Montserrat, serif;
}
form textarea,
form input {
    width: 100%;
    margin-bottom: 10px;
    font-family: Montserrat, serif;
}
form textarea {
    height: 120px;
}
footer {
    background-color: #160f29;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}